.portfolio-page{

    display: flex;
    flex-direction: column;
    padding: 3rem;

    h1{
        font: bold 2.5rem "Plus Jakarta Sans";
    }

    .portfolio--project-container{

        display: flex;
        padding: 2rem 1rem;
        gap: 3rem;
        border-left: 0;
        border-top:0;
        border-right: 0;
        border-bottom: 2px;
        border-style: solid;
    /* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
        border-image: linear-gradient(to right, #181818, #eee, #181818) 1 100%;

        &.flow-0{
            flex-direction: row-reverse;
        }

        img{
            width: 25rem;
            height: auto;
            border-radius: 15px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }   

        .portfolio--project-container-content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex:1;

            h3{
                font: bold 2rem "REM";
                margin:0;
            }
    
            p{
                font:1.5rem "REM";
                font-weight: 300;
            }
    
            .project-tags-wrapper{
                display: grid;
                grid-template-columns: repeat(4, minmax(3rem, 9rem));
                justify-items: center;

                row-gap:2rem;

                span{
                    font: bold 1rem "REM";
                }
            }

            .portfolio--project-row-wrapper{
                display: flex;
                justify-content: flex-end;
            }

            a{
                @include black_button(0.3rem, 1rem);
                display: flex;
                align-items: center;
                margin-top:2rem;
                

                svg{
                    width: 40px;
                    margin-right: 1rem;

                    path{
                        fill:white;
                        transition : fill 1s ease-in-out;
                    }
                }

                &:hover{
                    svg > path{
                        fill: black;
                        transition : fill 1s ease-in-out;
                    }
                }
            }
        }

    }
}